.home-body {
	max-width: 100% !important;
	min-height: calc(85vh - 56px);
	margin-top: 56px !important;
	padding-top: 20px;
	background: url('../images/home.jpg') center no-repeat fixed;
	background-size: cover;
	position: relative;
}
	.home-body h1 {
		text-transform: uppercase;
		font-family: 'Montserrat';
	}
	.home-body .author-div {
		/*position: absolute;*/
		background: rgba(0,0,0,0.6);
		width: 800px;
		height: auto;
		/*top: 100px;
		left: calc(50% - 400px);*/
		padding: 20px;
		border-radius: 4px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
		color: #fff;
	}
		.home-body .author-div img {
			max-width: 100%;
			max-height: 100%;
			border-radius: 4px;
		}

	.home-body a {
		width: 300px;
	}


.container-fluid {
	margin-top: 80px;
	max-width: 1600px;
}

article .comments {
	color: #cecece;
	font-size: 0.8em;
}

.comment-date {
	color: #cecece;
	font-size: 0.6em;
	font-weight: normal;
}

.tox-tinymce {
	width: 100%!important;
	
}

.sticky-top {
	top: 56px;
	background: #fff;
}

div.list-group.sticky-top {
	top: 65px;
}

th, td {
	min-width: 89px;
}

.th-content {
	width: 600px;
}

.alert#alertDiv {
	top: 75px;
	width: 45%;
	margin: auto;
}

.btn {
	min-width: 102px;
}

.post-img {
	width: 400px;
	height: 270px;
	padding: 10px 30px 10px 0;
}
	.post-img img {
		max-width: 100%;
		max-height: 100%;
	}

.edit-img {
	display: flex;
}
	.edit-img p {
		width: 50%;
	}
	.edit-img .img-div {
		width: 400px;
		height: 270px;
	}
		.edit-img .img-div img {
			max-width: 100%;
			max-height: 100%;
		}

textarea {
	height: 90px;
}